.page2{
  width: 100%;
  height: 100%;
  background-image: url("./Lawyer5.jpg");
}

.main-container-page2{
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.container-header{
  color: white;
  color: #cbba84;
}

.specialization-1{
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
  align-items: center;
}

.specialization-2{
  display: grid;
  grid-template-rows: 1fr 3fr;
  width: 100%;
  height: 100%;
}

.white-background{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  background-color: #5f3b102d;
}

.specialization-content ul{
  list-style-type: none;
}

.specialization-content ul li{
  color: white;
  text-align: right;
  text-decoration: none;
  line-height: 25px;
  
}

.specialization-header h1{
  color: white;
}

.specialization-content p{
  color: white;
  text-align: right;
  padding: 10px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) { /* Tablets */
  .white-background{
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}
